*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(205, 114, 144) ;
    position: relative;
}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 19px;
    padding: 30px;
   text-align: center; 
   position: relative;
   overflow: hidden;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;

}
#card h1{
    font-size: 35px;
    margin: px 0;
    color:purple;
}
#card h5{
    font-size: 30px;
    color: red;
    margin: 20px;
    margin-bottom: 20px 20px;
}
#card button{
    background-color:lightseagreen;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px 29px;
    cursor: pointer;
}
/* #card  #Remove{
    background-color: #dadada;
    color: #000;
    padding: 9px 15px;

} */

#love img{
 height: 30px;
 width: 30px;
 margin-left: -200px;
 opacity: 0.8;
 position: absolute;
 top: 56%;
 left: 75%;
 transform: translate(-50%, -50%) scale(0.8);
 /* border: 2px solid gold; */
 /* background-color: aqua; */
 /* transition: ease-in-out 0.5s; */
}
